<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-iconset-svg/iron-iconset-svg.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">

<dom-module id="paper-finder-sit">
  <template>
    <style>

      :root{
        /* Image */
        --width-image: 10rem;
        --height-image: 10rem;
        --margin-image: 5px 5px;
        /* Title */
        --font-color-title: #323234;
        --margin-title: 1rem;
        --font-size-title: 19px;
        /* Description */
        --font-size-description: 14px;
        --margin-left-description: 1rem;
        --text-align-description: justify;
        /* Icons */
        --width-container: 5px;
        --margin-left-icon: var(--margin-left-icon);
        --margin-right-icon: var(--margin-left-icon);
        /* Refresh */
        --text-align-refresh: center;
        --cursor-refresh: pointer;
        /* Apply functions */
        --fBox-container:{
          display: flex;
          flex-direction: row;
        };
        --image-styles:{
          width: var(--width-image);
          height: var(--height-image);
          margin: var(--margin-image);
        };
        --title-styles:{
          color: var(--font-color-title);
          margin-left: var(--margin-title);
          font-size: var(--font-size-title);
        }
        --description-p-styles:{
          font-size: var(--font-size-description);
          margin-left: var(--margin-left-description);
          text-align: var(--text-align-description);
        }
        --icons-styles:{
          margin-left: var(--margin-left-icon);
          margin-right: var(--margin-right-icon); 
        }
        --refresh-styles:{
          text-align: var(--text-align-refresh);
          cursor: var(--cursor-refresh);
        }
      }
      .main-container {
        @apply --fBox-container;
      }
      .image{
        @apply --image-styles; 
      }
      .title{
        @apply --title-styles;
      }
      .description p{
        @apply --description-p-styles;
      }
      .container-icons {
        @apply --fBox-container;
        width: var(--width-container);
      }
      .icons {
        @apply --icons-styles; 
      }
      .refresh {
        @apply --refresh-styles;
      }
    </style>
    <template is="dom-if" if="[[content]]">
      <template is="dom-if" if="[[title]]">
        <h2>Results for: [[title]]</h2>
      </template>
      <div class="main">
        <template is="dom-repeat" items="[[content.data]]" as="element">
          <!-- <template is="dom-if" if="{{_match(element)}}"> -->
            <div class="main-container">
             <div class="container-image">
              <div>
                <img class="image" src$="[[element.img_url]]">
              </div>
            </div>

            <div class="container-details">
              <div class="container-description">
                <div class="title">
                  <h3>[[element.title]]</h3>
                </div>
                <div class="description">
                  <p>[[element.text]]</p>

                  <template is="dom-if" if="[[element.icons]]">
                    <template  is="dom-repeat" items="[[element.icons]]" as="icon">
                      <p><iron-icon icon="[[icon.name]]" on-click="_iconClicked"></iron-icon></p>
                      <p class="amount">[[icon.amount]]</p>
                    </template>
                  </template>
                </div>
              </div>

            </div>
          </div>
        </template>
        <div class="refresh">
          <iron-icon icon="[[content.icon.name]]" on-click="_refresh" id="iconID"></iron-icon>
        </div>
      </div>
    </template>
  </template>

  <script>
    class PaperFinderSit extends Polymer.Element {
      static get is() {
        return 'paper-finder-sit';
      }
      static get properties() {
        return {
          title: {
            type: String
          },
          content: {
            type: Object
          }
        };
      };

      _refresh(event) {
        let eventButton = event.target;
        const sendEvent = new CustomEvent('send-event', {
          bubbles: true,
          composed: true,
          detail: {
            data: 'xd',
          }
        });
        this.dispatchEvent(sendEvent);
      }

      _iconClicked(e) {
        const EventName = e.model.icon.event;
        const event = new CustomEvent(EventName, {
          bubbles: true,
          composed: true,
          detail: {
            data: `Event catched!! : ${EventName}`
          }
        });
        this.dispatchEvent(event);
      }
    }

    window.customElements.define(PaperFinderSit.is, PaperFinderSit);
  </script>
</dom-module>
